In [ ]:
#연습문제

In [47]:
s = 'python'
s[2]
s[:3]
s1 = list(s)
s1[:3]

['p', 'y', 't']

In [46]:
s = 'python'
s[2]
s[:3]

'pyt'

In [51]:
s='hi python'
b=s.replace('python',s[:2])
s,b

('hi python', 'hi hi')

In [58]:
s = "2020-12-25"
print(s.replace("-",""))

20201225

In [74]:
s="%s is %d years old" %('tom', 13)
print(s)
y = "{} is {} years old" .format('hom', 13)
print(y)

tom is 13 years old
hom is 13 years old

In [79]:
a=10
b=3
c = "%d / %d = %d" %(a,b,a/b)
print(c)

10 / 3 = 3

In [108]:
a=3 
b=12
print('%7d\nX%6d'%(a,b))
print('-'*7)
print('%7d'%(a*b))

      3
X    12
-------
     36

In [7]:
print("내 이름은 {}입니다.".format("철수"))
print("내 이름은{{{}}}입니다.".format("철수"))

내 이름은 철수입니다.
내 이름은{철수}입니다.

In [8]:
"{2}의 {0} 점수는 {1}점입니다.".format("수학", 100, "철수")

'철수의 수학 점수는 100점입니다.'

In [11]:
"[{:>20}]".format("*")

'd'

In [13]:
"[{:^20}]".format("*")

'[         *          ]'

In [17]:
"[{:>20,}]".format(1234567890)

'[       1,234,567,890]'

In [19]:
"[{:*>20}]".format(3)

'[*******************3]'

In [22]:
"[{:-<20}]".format("")

'[--------------------]'

In [24]:
x=[10,11,12]
"리스트의 첫번째 원소={0[0]}".format(x)

'리스트의 첫번째 원소=10'

In [27]:
y={"a":10,"b":11,"c":12}
"사전의 b키 값={[b]}".format(y)

'사전의 b키 값=11'

In [56]:
a=123456
b=7890
print("{:>10,}".format(a))
print("+{:>9,}".format(b))
print("-"*10)
print("{:>10,}".format(a+b))

   123,456
+    7,890
----------
   131,346

In [64]:
a=3
b=12
print("{:>5}".format(a))
print("x{:>4}".format(b))
print("-"*5)
print("{:>5}".format(a*b))

    3
x  12
-----
   36

In [65]:
name="홍길동"
age=30
print(f"{name}은 {age}살 입니다.")

홍길동은 30살 입니다.

In [74]:
a=3
b=12
print(f"{a:>5}")
print(f"x{b:>4}")
print("-"*5)
print(f"{a*b:>5}")

    3
x  12
-----
   36

In [78]:
a=123456
b=7890
print(f"{a:>10,}")
print(f"+{b:>9,}")
print("-"*10)
print(f"{a+b:>10,}")

   123,456
+    7,890
----------
   131,346