In [16]:
# 리스트 생성

a_list = [1,2,3]
a_list

[1, 2, 3]

In [14]:
# 튜플을 리스트로 변환

tup = (1,2,3)
list(tup)

[1, 2, 3]

In [21]:
# 복수 할당

h = [1,2,3]
h1,h2,h3 = h

h1,h2,h3

(1, 2, 3)

In [24]:
# 다른 데이터 타입끼리 리스트 구성 가능

d = [1, 3.14, 'b']

d[0],d[1],d[2]

(1, 3.14, 'b')

In [26]:
e = [[1,2],['b',2]]

e[0], e[1]

([1, 2], ['b', 2])

In [30]:
# 인덱싱

x = [80,90,'홍길동']

x[0] + x[1]

170

In [31]:
# 리스트 원소 변경

x[0] = 100

x

[100, 90, '홍길동']

In [38]:
# 음수를 사용한 인덱싱

g = list(range(10))

# 리스트 원소 맨 뒷자리 출력(-1)
g[-1]
# 리스트 원소 뒤에서 5번째 자리부터 -2자리 전 원소 까지 출력 
g[-5:-2]
# 리스트 원소 뒤에서 3번째 자리부터 끝까지 출력
g[-3:]

[7, 8, 9]

연습 문제 1

1. 리스트에는 숫자 뿐 아니라 문자 등 어떤 값도 넣을 수 있다. 10명으로 이루어진 반의 학생 이름을 생각하여 리스트 변수로 만들어 본다.

2. 전학생이 왔다고 가정하여 리스트에 이름을 추가한다.

3. 한 명이 전학을 갔다고 가정하고 리스트에서 이름을 삭제한다.

4. 슬라이싱으로 5번 학생(1번 학생은 가장 처음에 있는 학생이다.)부터 9번 학생까지 5명의 이름을 담은 새로운 리스트를 만든다.

연습 문제 2

시험 성적을 나타내는 임의의 숫자 5개를 리스트 변수 score에 넣고 평균을 구한다.

In [47]:
# 연습 문제1

s_list = list(range(10))
s_list[0] = '홍길동'
del s_list[1]

#s_list
s_list[4:]

[5, 6, 7, 8, 9]

In [51]:
# 연습 문제2

score = [100,70,85,90,85]
sum = 0

for i in score:
    sum = sum + i
sum / len(score)

86.0

In [53]:
# 슬라이싱

seq = [7,2,3,7,5,6,0,1]
seq[1:5]

[2, 3, 7, 5]

In [54]:
# 슬라이싱을 활용한 값 변경

seq[3:4] = [6,3]
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [57]:
# 슬라이싱에서 -1의 의미는 맨뒤에서 부터라는 의미

seq[-5:-2]

[3, 5, 6]

In [58]:
# 슬라이싱에서 두번쨰 콜론 다음에 간격(step) 지정 가능

# 2칸씩 출력
seq[::2]

[7, 3, 3, 6, 1]

In [59]:
# 스텝 자리에 -1 사용 시, 역순으로 출력

seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

In [60]:
# append() 메소드 - 리스트의 끝에 새로운 값 추가

b_list = ['foo','bar','baz']
b_list.append('dwarf')

b_list

['foo', 'bar', 'baz', 'dwarf']

In [61]:
# insert() 메소드 - 특정 위치를 지정하여 새로운 값 추가

b_list.insert(1,'red')

b_list

['foo', 'red', 'bar', 'baz', 'dwarf']

In [62]:
# pop() 메소드 - 특정 위치 값을 반환하고 해당 값을 리스트에서 삭제

b_list = ['foo', 'bar', 'baz']
b_list.pop(2)

b_list

['foo', 'bar']

In [63]:
# remove() 메소드 - 리스트에서 특정 원소값을 명시해서 삭제

b_list = ['foo','book','note']
b_list.remove('foo')

b_list

['bpok', 'note']

In [64]:
# del 명령어 - 원소 삭제

f = list(range(10))
del f[0]

f

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [66]:
# '+'연산자를 사용하여 2개의 리스트를 합칠 수 있음

a_list = [1,2,3]
b_list = ['a','b','c']

a_list+b_list

[1, 2, 3, 'a', 'b', 'c']

In [67]:
#extend() 메소드 - 여러 개의 값을 추가

x = [4,None,'foo']
x.extend([7,8,(2,3)])

x

[4, None, 'foo', 7, 8, (2, 3)]

In [69]:
# enumerate() - 순차형 자료에 대해 (index,value) 튜플 반환
# 주로 순차 자료형에서 현재 항목과 함께 그 위치(index)를 함께 처리 하고자 할때 사용
# enumerate 사용 후, 꼭 리스트 형식으로 변환해줘야 값 확인 가능!!!

x = enumerate(['a','b','c'])

#x
list(x)

[(0, 'a'), (1, 'b'), (2, 'c')]

In [71]:
for i,e in enumerate(['a','b','c']):
    print(f"i={i}, e={e}")

i=0, e=a
i=1, e=b
i=2, e=c

In [72]:
# 두 리스트의 합을 만들기

s = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
a1 = [90, 85, 95, 80, 90, 100, 85, 75, 85, 80]
a2 = [95, 90, 90, 90, 95, 100, 90, 80, 95, 90]

In [74]:
# 리스트로 사전 만들기

x = ['foo','bar','baz']
mapping={} # 딕셔너리 변수 선언
for i,v in enumerate(x):
    mapping[v] = i
    
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [78]:
# zip - 여러 개의 리스트를 받아 원소 쌍으로 구성

seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three', 'four']
zipped = zip(seq1,seq2)

#type(zipped)
list(zipped) # 리스트로 변환 하여 결과 출력

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [80]:
seq3 = [False, True]

list(zip(seq1,seq2,seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [83]:
for i, (a,b) in enumerate(zip(seq1, seq2)):
    print(f"{i}: {a}, {b}")

0: foo, one
1: bar, two
2: baz, three

In [85]:
# * - zip 풀기

pitchers = [ ('FirstName:', 'SecondName:'),
             ('Gildong', 'Hong'), 
             ('Daegu', 'Kim')]
first_names, last_names = zip(*pitchers) 

first_names

('SecondName:', 'Hong', 'Kim')

In [87]:
last_names

('SecondName:', 'Hong', 'Kim')

In [89]:
# 정렬
# sort() 메소드
# sorted() 메소드 - 정렬 된 복사본을 반환

a = [7,2,3,5,1]
a.sort()

a

[1, 2, 3, 5, 7]

In [91]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len) # 정렬 기준이 문자열 길이

b

['He', 'saw', 'six', 'small', 'foxes']

In [94]:
b = [3,4,6,1,2]

sorted(b) # 정렬 된 복사본 출력

[3, 4, 6, 1, 2]

In [95]:
# reversed - 순차형 자료를 역순 순회

a = list(reversed(range(10)))

a

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [96]:
# len 명령 - 리스트 변수에 자료의 갯수 출력

a = list(range(30))

len(a)

30

In [110]:
# 학생이 5명이고 각 학생이 10번의 시험에 대한 성적을 가진다면 다음과 같이 리스트의 리스트로 전체 시험 성적을 나타낼 수 있다.

X = [[85,  90,  20,  50,  60,  25,  30,  75,  40,  55],
     [70, 100,  70,  70,  55,  75,  55,  60,  40,  45],
     [25,  65,  15,  25,  20,   5,  60,  70,  35,  10],
     [80,  45,  80,  40,  75,  35,  80,  55,  70,  90],
     [35,  50,  75,  25,  35,  70,  65,  50,  70,  10]]

# 이 때 전체 평균 점수는 다음과 같이 구한다.

sum = 0
num = 0
for i in range(len(X)):
    for j in range(len(X[i])):
    
        num = num + 1
        sum = sum + X[i][j]
        
sum / num

52.7

In [114]:
# 사전 

b = {'math':88, 'english':90}

b

{'math': 88, 'english': 90}

In [115]:
d1 = {1:'홍길동', '도시':'대구', '우편번호':'123-456'} # 다양한 데이터 타입 적용 가능

d1

{1: '홍길동', '도시': '대구', '우편번호': '123-456'}

In [116]:
d1[1] # 사전 데이터 항목 읽기

'홍길동'

In [117]:
d1[1] = '김철수' # 사전 데이터 항목 쓰기

d1

{1: '김철수', '도시': '대구', '우편번호': '123-456'}

In [118]:
d1[2] = '이순신' # 사전 데이터 추가
d1

{1: '김철수', '도시': '대구', '우편번호': '123-456', 2: '이순신'}

In [121]:
'도시' in d1 # 해당 키를 갖는 항목이 존재하는지 검사

True

In [124]:
# 순차형 자료로 사전 생성

mapping = dict(zip(range(10), reversed(range(10))))

mapping

{0: 9, 1: 8, 2: 7, 3: 6, 4: 5, 5: 4, 6: 3, 7: 2, 8: 1, 9: 0}

In [127]:
# 키와 값의 목록 

a = {'math':90, 'science':100, 'korean':95}

list(a.values()) # 사전의 값을 리스트 형식으로 변환 후 출력

[90, 100, 95]

In [135]:
# 키 기반한 반복문

dict = {1:'A', 3:'C', 4:'D'}

for k in dict.keys():
    print(k, end = ' ')

1 3 4

In [137]:
# 값 기반한 반복문

for v in dict.values():
    print(v, end = " ")

A C D

In [139]:
# 키와 값 쌍을 기반한 반복문 (items() 사용)

for k,v in dict.items():
    print(f"key {k}, val {v}")

key 1, val A
key 3, val C
key 4, val D

In [141]:
# update() 메소드 - 두 개의 사전 병합

a = {'a' : 'book', 'b' : [1,2,3,4]}
a.update({'a':'pencil', 'c':12}) # 이미 존재하는 key에 대해 update 호출 시 이전 값은 사라짐

a

{'a': 'pencil', 'b': [1, 2, 3, 4], 'c': 12}

In [146]:
# 기본값 관련
# 불연속 정수 키를 갖는 사전의 값 리스트 생성

dic = {1:'A', 3:'C', 4:'D'}

value_list = []
defalut_value = None

for key in range(5):
    if key in dic:
        value = dic[key]
    else:
        value = defalut_value
    value_list.append(value)
    
value_list

[None, 'A', None, 'C', 'D']

In [ ]:
# get() 사용

dic = {1:'A', 3:'C', 4:'D'}

value_list = []
defalut_value = None

for key in range(5)